@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-MediumItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
  url('/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

